PequenosPasos/n8n/workflows/registro.json
{
  "name": "Pequeños Pasos — registro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-webhook",
      "name": "webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        300
      ],
      "webhookId": "pp-registro"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza el payload del webhook ({id, audioPath, metadata}).\nconst b = $json.body ?? $json;\nif (!b || !b.id) {\n  throw new Error('payload del webhook sin id');\n}\nreturn [{ json: { id: b.id, audioPath: b.audioPath, metadata: b.metadata || {} } }];"
      },
      "id": "node-init",
      "name": "init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHISPER_URL || 'http://whisper:8000' }}/transcribe",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"path\": $('init').item.json.audioPath } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-whisper",
      "name": "whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Arma el cuerpo de la llamada a Ollama (chat) con grammar-constrained JSON.\n// SYSTEM_PROMPT y EXTRACTION_JSON_SCHEMA: mantener en sync con assemble.ts/schema.ts.\nconst DIAS = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\nconst MESES = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nfunction fechaLarga(ms){ const d = new Date(ms); return DIAS[d.getDay()] + ', ' + d.getDate() + ' de ' + MESES[d.getMonth()] + ' de ' + d.getFullYear(); }\n\nconst PROMPTS = {\"generic\":\"Convierte la transcripción de un mensaje de voz en un informe de campo estructurado para una ONG.\\nRegla absoluta: extrae EXCLUSIVAMENTE lo que se dice en la transcripción. No inventes datos, cifras, nombres, fechas ni diagnósticos. Si un campo no se menciona, deja \\\"\\\" (texto) o [] (lista). No uses vocabulario que no esté en el texto.\\nSi la transcripción es una prueba o no contiene información real, dilo así en el resumen (p. ej. \\\"Mensaje de prueba sin información operativa\\\") y deja el resto vacío.\\nCampos de nivel superior:\\n- resumen: RESUMEN EJECUTIVO de 1-2 frases que reflejen fielmente SOLO lo dicho.\\n- prioridad: clasificá en este orden de precedencia (revisá de ALTA a BAJA y aplicá el primer nivel que corresponda):\\n  ALTA — acción el mismo día: violencia física, abuso sexual o psicológico, violencia intrafamiliar aguda, daños físicos o psicológicos evidentes en niños/as o adolescentes, riesgo de vida inminente.\\n  MEDIA — acción en 24-72hs: falta de insumos del comedor o de primera necesidad (pañales, leche fórmula, botiquín); desnutrición leve o moderada; falta de controles médicos obligatorios; ausencias frecuentes sin justificación (2+ veces por semana); rotura de equipamiento clave que frena la actividad (heladera, bomba de agua, internet); conflictos o discusiones fuertes entre beneficiarios.\\n  MEDIA también si hay compromisos de microcrédito con pagos atrasados o en riesgo de incumplimiento. NO aplicar MEDIA si el beneficiario está al día con los pagos.\\n  MEDIA también si hay una acción de seguimiento explícita pendiente (visita programada, renovación, derivación no urgente) que no encaje en ningún ítem de ALTA ni de BAJA.\\n  BAJA — resolución semanal/mensual: falta de materiales no esenciales (témperas, hojas, juegos); reparaciones menores (foco, puerta, humedad estética); demoras en legajos que no impiden el seguimiento; baja de voluntario reemplazable. Si la transcripción es puramente informativa: BAJA.\\n- motivoCriticidad: una frase corta (máx 15 palabras) explicando por qué se asignó esa prioridad. Si es BAJA informativa, devolvé \\\"\\\".\\n- entidades.nombres: nombres propios de personas dichos literalmente; si no hay, [].\\n- entidades.fechas: fechas mencionadas; convierte las relativas (\\\"hoy\\\", \\\"el martes\\\") a fecha absoluta usando la \\\"Fecha del registro\\\"; si no hay, [].\\n- accionesPendientes: tareas de seguimiento dichas literalmente; si no hay, [].\\nObjeto datos (columna vertebral del registro; deja vacío lo no mencionado):\\n- datos.demografia: nombre, edad, fechaNacimiento del beneficiario; esMenor=true SOLO si se indica o se deduce que es menor de edad.\\n- datos.metricas: peso y talla (antropométricos para nutrición), diagnosticos (lista de diagnósticos médicos específicos: oncología, discapacidad, VIH…), avanceObra (estado de una obra habitacional).\\n- datos.socioeconomico: familia (condición familiar), ingresos, vivienda, vulnerabilidades (lista de situaciones de riesgo mencionadas literalmente: violencia, situación de calle, sin documentación, etc.; si no se mencionan, []).\\n- datos.intervencion: fecha exacta, lugar (clave en operativos móviles), tipoActividad (taller, consulta médica, asesoría legal, entrega…), profesionales (lista de profesionales o voluntarios presentes).\\n- datos.seguimiento: situacionLaboral, desempenoAcademico. No uses este campo para acciones pendientes — esas van en accionesPendientes.\\n- datos.narrativa: detalles cualitativos sutiles pero valiosos (reacción emocional, percepción de una madre sobre su vivienda…). Si no hay, \\\"\\\".\\nRegla crítica para listas: si un campo de tipo array no se menciona explícitamente en la transcripción, devolvé [] sin excepción. Nunca uses los nombres de campos como ejemplos de valores. \\\"compromisos\\\", \\\"vulnerabilidades\\\", \\\"profesionales\\\" son etiquetas, no datos.\\nResponde en español. /no_think\",\"primera-infancia\":\"Convierte la transcripción de un mensaje de voz en un informe de campo estructurado para una ONG.\\nRegla absoluta: extrae EXCLUSIVAMENTE lo que se dice en la transcripción. No inventes datos, cifras, nombres, fechas ni diagnósticos. Si un campo no se menciona, deja \\\"\\\" (texto) o [] (lista). No uses vocabulario que no esté en el texto.\\nSi la transcripción es una prueba o no contiene información real, dilo así en el resumen (p. ej. \\\"Mensaje de prueba sin información operativa\\\") y deja el resto vacío.\\nCONTEXTO DEL PROGRAMA — Primera Infancia (0 a 5 años): el beneficiario es el niño o niña; el interlocutor en el audio es la familia (madre, padre o cuidador). esMenor es siempre true.\\nPresta especial atención y prioriza extraer, si se mencionan: peso, talla, percentiles de crecimiento, hitos de desarrollo psicomotor, diagnósticos nutricionales (desnutrición, bajo peso, anemia…), entrega de bolsón de alimentos, fecha de la próxima consulta pediátrica y observaciones sobre el vínculo madre-hijo/a.\\nCampos de nivel superior:\\n- resumen: RESUMEN EJECUTIVO de 1-2 frases que reflejen fielmente SOLO lo dicho.\\n- prioridad: clasificá en este orden de precedencia (revisá de ALTA a BAJA y aplicá el primer nivel que corresponda):\\n  ALTA — acción el mismo día: violencia física, abuso sexual o psicológico, violencia intrafamiliar aguda, daños físicos o psicológicos evidentes en niños/as o adolescentes, riesgo de vida inminente.\\n  MEDIA — acción en 24-72hs: falta de insumos del comedor o de primera necesidad (pañales, leche fórmula, botiquín); desnutrición leve o moderada; falta de controles médicos obligatorios; ausencias frecuentes sin justificación (2+ veces por semana); rotura de equipamiento clave que frena la actividad (heladera, bomba de agua, internet); conflictos o discusiones fuertes entre beneficiarios.\\n  MEDIA también si hay compromisos de microcrédito con pagos atrasados o en riesgo de incumplimiento. NO aplicar MEDIA si el beneficiario está al día con los pagos.\\n  MEDIA también si hay una acción de seguimiento explícita pendiente (visita programada, renovación, derivación no urgente) que no encaje en ningún ítem de ALTA ni de BAJA.\\n  BAJA — resolución semanal/mensual: falta de materiales no esenciales (témperas, hojas, juegos); reparaciones menores (foco, puerta, humedad estética); demoras en legajos que no impiden el seguimiento; baja de voluntario reemplazable. Si la transcripción es puramente informativa: BAJA.\\n- motivoCriticidad: una frase corta (máx 15 palabras) explicando por qué se asignó esa prioridad. Si es BAJA informativa, devolvé \\\"\\\".\\n- entidades.nombres: nombres propios de personas dichos literalmente; si no hay, [].\\n- entidades.fechas: fechas mencionadas; convierte las relativas (\\\"hoy\\\", \\\"el martes\\\") a fecha absoluta usando la \\\"Fecha del registro\\\"; si no hay, [].\\n- accionesPendientes: tareas de seguimiento dichas literalmente; si no hay, [].\\nObjeto datos (columna vertebral del registro; deja vacío lo no mencionado):\\n- datos.demografia: nombre, edad, fechaNacimiento del beneficiario; esMenor=true SOLO si se indica o se deduce que es menor de edad.\\n- datos.metricas: peso y talla (antropométricos para nutrición), diagnosticos (lista de diagnósticos médicos específicos: oncología, discapacidad, VIH…), avanceObra (estado de una obra habitacional).\\n- datos.socioeconomico: familia (condición familiar), ingresos, vivienda, vulnerabilidades (lista de situaciones de riesgo mencionadas literalmente: violencia, situación de calle, sin documentación, etc.; si no se mencionan, []).\\n- datos.intervencion: fecha exacta, lugar (clave en operativos móviles), tipoActividad (taller, consulta médica, asesoría legal, entrega…), profesionales (lista de profesionales o voluntarios presentes).\\n- datos.seguimiento: situacionLaboral, desempenoAcademico. No uses este campo para acciones pendientes — esas van en accionesPendientes.\\n- datos.narrativa: detalles cualitativos sutiles pero valiosos (reacción emocional, percepción de una madre sobre su vivienda…). Si no hay, \\\"\\\".\\nRegla crítica para listas: si un campo de tipo array no se menciona explícitamente en la transcripción, devolvé [] sin excepción. Nunca uses los nombres de campos como ejemplos de valores. \\\"compromisos\\\", \\\"vulnerabilidades\\\", \\\"profesionales\\\" son etiquetas, no datos.\\nResponde en español. /no_think\",\"ninez-adolescencia\":\"Convierte la transcripción de un mensaje de voz en un informe de campo estructurado para una ONG.\\nRegla absoluta: extrae EXCLUSIVAMENTE lo que se dice en la transcripción. No inventes datos, cifras, nombres, fechas ni diagnósticos. Si un campo no se menciona, deja \\\"\\\" (texto) o [] (lista). No uses vocabulario que no esté en el texto.\\nSi la transcripción es una prueba o no contiene información real, dilo así en el resumen (p. ej. \\\"Mensaje de prueba sin información operativa\\\") y deja el resto vacío.\\nCONTEXTO DEL PROGRAMA — Niñez y Adolescencia (6 a 18 años): el beneficiario es un niño, niña o adolescente. esMenor es true salvo que se diga lo contrario.\\nPresta especial atención y prioriza extraer, si se mencionan: desempeño escolar (en datos.seguimiento.desempenoAcademico), asistencia a la escuela, actividades en las que participa (fútbol, talleres, apoyo escolar), situación familiar, riesgo de deserción escolar, conductas de riesgo y vínculos con pares.\\nCampos de nivel superior:\\n- resumen: RESUMEN EJECUTIVO de 1-2 frases que reflejen fielmente SOLO lo dicho.\\n- prioridad: clasificá en este orden de precedencia (revisá de ALTA a BAJA y aplicá el primer nivel que corresponda):\\n  ALTA — acción el mismo día: violencia física, abuso sexual o psicológico, violencia intrafamiliar aguda, daños físicos o psicológicos evidentes en niños/as o adolescentes, riesgo de vida inminente.\\n  MEDIA — acción en 24-72hs: falta de insumos del comedor o de primera necesidad (pañales, leche fórmula, botiquín); desnutrición leve o moderada; falta de controles médicos obligatorios; ausencias frecuentes sin justificación (2+ veces por semana); rotura de equipamiento clave que frena la actividad (heladera, bomba de agua, internet); conflictos o discusiones fuertes entre beneficiarios.\\n  MEDIA también si hay compromisos de microcrédito con pagos atrasados o en riesgo de incumplimiento. NO aplicar MEDIA si el beneficiario está al día con los pagos.\\n  MEDIA también si hay una acción de seguimiento explícita pendiente (visita programada, renovación, derivación no urgente) que no encaje en ningún ítem de ALTA ni de BAJA.\\n  BAJA — resolución semanal/mensual: falta de materiales no esenciales (témperas, hojas, juegos); reparaciones menores (foco, puerta, humedad estética); demoras en legajos que no impiden el seguimiento; baja de voluntario reemplazable. Si la transcripción es puramente informativa: BAJA.\\n- motivoCriticidad: una frase corta (máx 15 palabras) explicando por qué se asignó esa prioridad. Si es BAJA informativa, devolvé \\\"\\\".\\n- entidades.nombres: nombres propios de personas dichos literalmente; si no hay, [].\\n- entidades.fechas: fechas mencionadas; convierte las relativas (\\\"hoy\\\", \\\"el martes\\\") a fecha absoluta usando la \\\"Fecha del registro\\\"; si no hay, [].\\n- accionesPendientes: tareas de seguimiento dichas literalmente; si no hay, [].\\nObjeto datos (columna vertebral del registro; deja vacío lo no mencionado):\\n- datos.demografia: nombre, edad, fechaNacimiento del beneficiario; esMenor=true SOLO si se indica o se deduce que es menor de edad.\\n- datos.metricas: peso y talla (antropométricos para nutrición), diagnosticos (lista de diagnósticos médicos específicos: oncología, discapacidad, VIH…), avanceObra (estado de una obra habitacional).\\n- datos.socioeconomico: familia (condición familiar), ingresos, vivienda, vulnerabilidades (lista de situaciones de riesgo mencionadas literalmente: violencia, situación de calle, sin documentación, etc.; si no se mencionan, []).\\n- datos.intervencion: fecha exacta, lugar (clave en operativos móviles), tipoActividad (taller, consulta médica, asesoría legal, entrega…), profesionales (lista de profesionales o voluntarios presentes).\\n- datos.seguimiento: situacionLaboral, desempenoAcademico. No uses este campo para acciones pendientes — esas van en accionesPendientes.\\n- datos.narrativa: detalles cualitativos sutiles pero valiosos (reacción emocional, percepción de una madre sobre su vivienda…). Si no hay, \\\"\\\".\\nRegla crítica para listas: si un campo de tipo array no se menciona explícitamente en la transcripción, devolvé [] sin excepción. Nunca uses los nombres de campos como ejemplos de valores. \\\"compromisos\\\", \\\"vulnerabilidades\\\", \\\"profesionales\\\" son etiquetas, no datos.\\nResponde en español. /no_think\",\"oficios\":\"Convierte la transcripción de un mensaje de voz en un informe de campo estructurado para una ONG.\\nRegla absoluta: extrae EXCLUSIVAMENTE lo que se dice en la transcripción. No inventes datos, cifras, nombres, fechas ni diagnósticos. Si un campo no se menciona, deja \\\"\\\" (texto) o [] (lista). No uses vocabulario que no esté en el texto.\\nSi la transcripción es una prueba o no contiene información real, dilo así en el resumen (p. ej. \\\"Mensaje de prueba sin información operativa\\\") y deja el resto vacío.\\nCONTEXTO DEL PROGRAMA — Oficios: el beneficiario es una persona ADULTA en capacitación laboral. esMenor es SIEMPRE false; nunca lo marques true.\\nPresta especial atención y prioriza extraer, si se mencionan: el oficio que está aprendiendo, asistencia al taller de capacitación, situación laboral actual (en datos.seguimiento.situacionLaboral), ingresos (en datos.socioeconomico.ingresos), compromisos de pago si hay un microcrédito (en datos.seguimiento.compromisos) y el progreso en la capacitación.\\nCampos de nivel superior:\\n- resumen: RESUMEN EJECUTIVO de 1-2 frases que reflejen fielmente SOLO lo dicho.\\n- prioridad: clasificá en este orden de precedencia (revisá de ALTA a BAJA y aplicá el primer nivel que corresponda):\\n  ALTA — acción el mismo día: violencia física, abuso sexual o psicológico, violencia intrafamiliar aguda, daños físicos o psicológicos evidentes en niños/as o adolescentes, riesgo de vida inminente.\\n  MEDIA — acción en 24-72hs: falta de insumos del comedor o de primera necesidad (pañales, leche fórmula, botiquín); desnutrición leve o moderada; falta de controles médicos obligatorios; ausencias frecuentes sin justificación (2+ veces por semana); rotura de equipamiento clave que frena la actividad (heladera, bomba de agua, internet); conflictos o discusiones fuertes entre beneficiarios.\\n  MEDIA también si hay compromisos de microcrédito con pagos atrasados o en riesgo de incumplimiento. NO aplicar MEDIA si el beneficiario está al día con los pagos.\\n  MEDIA también si hay una acción de seguimiento explícita pendiente (visita programada, renovación, derivación no urgente) que no encaje en ningún ítem de ALTA ni de BAJA.\\n  BAJA — resolución semanal/mensual: falta de materiales no esenciales (témperas, hojas, juegos); reparaciones menores (foco, puerta, humedad estética); demoras en legajos que no impiden el seguimiento; baja de voluntario reemplazable. Si la transcripción es puramente informativa: BAJA.\\n- motivoCriticidad: una frase corta (máx 15 palabras) explicando por qué se asignó esa prioridad. Si es BAJA informativa, devolvé \\\"\\\".\\n- entidades.nombres: nombres propios de personas dichos literalmente; si no hay, [].\\n- entidades.fechas: fechas mencionadas; convierte las relativas (\\\"hoy\\\", \\\"el martes\\\") a fecha absoluta usando la \\\"Fecha del registro\\\"; si no hay, [].\\n- accionesPendientes: tareas de seguimiento dichas literalmente; si no hay, [].\\nObjeto datos (columna vertebral del registro; deja vacío lo no mencionado):\\n- datos.demografia: nombre, edad, fechaNacimiento del beneficiario; esMenor=true SOLO si se indica o se deduce que es menor de edad.\\n- datos.metricas: peso y talla (antropométricos para nutrición), diagnosticos (lista de diagnósticos médicos específicos: oncología, discapacidad, VIH…), avanceObra (estado de una obra habitacional).\\n- datos.socioeconomico: familia (condición familiar), ingresos, vivienda, vulnerabilidades (lista de situaciones de riesgo mencionadas literalmente: violencia, situación de calle, sin documentación, etc.; si no se mencionan, []).\\n- datos.intervencion: fecha exacta, lugar (clave en operativos móviles), tipoActividad (taller, consulta médica, asesoría legal, entrega…), profesionales (lista de profesionales o voluntarios presentes).\\n- datos.seguimiento: situacionLaboral, desempenoAcademico. No uses este campo para acciones pendientes — esas van en accionesPendientes.\\n- datos.narrativa: detalles cualitativos sutiles pero valiosos (reacción emocional, percepción de una madre sobre su vivienda…). Si no hay, \\\"\\\".\\nRegla crítica para listas: si un campo de tipo array no se menciona explícitamente en la transcripción, devolvé [] sin excepción. Nunca uses los nombres de campos como ejemplos de valores. \\\"compromisos\\\", \\\"vulnerabilidades\\\", \\\"profesionales\\\" son etiquetas, no datos.\\nResponde en español. /no_think\"};\nconst EXTRACTION_JSON_SCHEMA = {\"type\":\"object\",\"properties\":{\"resumen\":{\"type\":\"string\"},\"prioridad\":{\"type\":\"string\",\"enum\":[\"ALTA\",\"MEDIA\",\"BAJA\"]},\"motivoCriticidad\":{\"type\":\"string\"},\"entidades\":{\"type\":\"object\",\"properties\":{\"nombres\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"fechas\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}},\"required\":[\"nombres\",\"fechas\"],\"additionalProperties\":false},\"accionesPendientes\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"datos\":{\"type\":\"object\",\"properties\":{\"demografia\":{\"type\":\"object\",\"properties\":{\"nombre\":{\"type\":\"string\"},\"edad\":{\"type\":\"string\"},\"fechaNacimiento\":{\"type\":\"string\"},\"esMenor\":{\"type\":\"boolean\"}},\"required\":[\"nombre\",\"edad\",\"fechaNacimiento\",\"esMenor\"],\"additionalProperties\":false},\"metricas\":{\"type\":\"object\",\"properties\":{\"peso\":{\"type\":\"string\"},\"talla\":{\"type\":\"string\"},\"diagnosticos\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"avanceObra\":{\"type\":\"string\"}},\"required\":[\"peso\",\"talla\",\"diagnosticos\",\"avanceObra\"],\"additionalProperties\":false},\"socioeconomico\":{\"type\":\"object\",\"properties\":{\"familia\":{\"type\":\"string\"},\"ingresos\":{\"type\":\"string\"},\"vivienda\":{\"type\":\"string\"},\"vulnerabilidades\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}},\"required\":[\"familia\",\"ingresos\",\"vivienda\",\"vulnerabilidades\"],\"additionalProperties\":false},\"intervencion\":{\"type\":\"object\",\"properties\":{\"fecha\":{\"type\":\"string\"},\"lugar\":{\"type\":\"string\"},\"tipoActividad\":{\"type\":\"string\"},\"profesionales\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}},\"required\":[\"fecha\",\"lugar\",\"tipoActividad\",\"profesionales\"],\"additionalProperties\":false},\"seguimiento\":{\"type\":\"object\",\"properties\":{\"compromisos\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"situacionLaboral\":{\"type\":\"string\"},\"desempenoAcademico\":{\"type\":\"string\"}},\"required\":[\"compromisos\",\"situacionLaboral\",\"desempenoAcademico\"],\"additionalProperties\":false},\"narrativa\":{\"type\":\"string\"}},\"required\":[\"demografia\",\"metricas\",\"socioeconomico\",\"intervencion\",\"seguimiento\",\"narrativa\"],\"additionalProperties\":false}},\"required\":[\"resumen\",\"prioridad\",\"motivoCriticidad\",\"entidades\",\"accionesPendientes\",\"datos\"],\"additionalProperties\":false};\n\nconst transcript = (($json.text) || '').trim();\nconst meta = $('init').item.json.metadata || {};\n// Selecciona el system prompt: primero por ONG+programa (\"<tenant>:<programa>\"),\n// luego por programa (compat con instalación de un solo cliente), luego genérico.\nconst SYSTEM_PROMPT =\n  PROMPTS[meta.tenant + ':' + meta.programa] ||\n  PROMPTS[meta.programa] ||\n  PROMPTS.generic;\nconst capturedAt = typeof meta.capturedAt === 'number' ? meta.capturedAt : Date.now();\nconst userMessage = 'Fecha del registro: ' + fechaLarga(capturedAt) + '.\\n\\nTranscripción:\\n' + transcript;\nconst model = $env.OLLAMA_MODEL || 'qwen3:1.7b';\n\nconst ollamaBody = {\n  model,\n  stream: false,\n  format: EXTRACTION_JSON_SCHEMA,\n  // qwen3 es un modelo de RAZONAMIENTO: sin esto genera miles de tokens de\n  // \"thinking\" antes de responder (n_decoded 2000+), el pipeline tarda minutos\n  // y la UI queda colgada en \"procesando\". think:false lo desactiva de raíz.\n  think: false,\n  options: {\n    temperature: 0,\n    num_predict: 1024, // tope de seguridad anti-runaway (el JSON real ~300-500 tokens).\n  },\n  messages: [\n    { role: 'system', content: SYSTEM_PROMPT },\n    { role: 'user', content: userMessage },\n  ],\n};\nreturn [{ json: { ollamaBody, transcript } }];"
      },
      "id": "node-prep",
      "name": "preparar-prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL || 'http://ollama:11434' }}/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.ollamaBody }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "node-ollama",
      "name": "ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parsea el JSON garantizado que devuelve Ollama (message.content).\nconst content = ($json.message && $json.message.content) || '';\nlet extraction;\ntry {\n  extraction = JSON.parse(content);\n} catch (e) {\n  throw new Error('Ollama no devolvió JSON válido: ' + e.message);\n}\nreturn [{ json: { extraction, transcript: $('preparar-prompt').item.json.transcript } }];"
      },
      "id": "node-parse",
      "name": "parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL || 'http://app-pwa:3000' }}/api/informe/{{ $('init').item.json.id }}/extraccion",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"transcript\": $json.transcript, \"extraction\": $json.extraction } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-extraccion",
      "name": "extraccion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL || 'http://app-pwa:3000' }}/api/informe/{{ $('init').item.json.id }}/generar-docx",
        "sendBody": false,
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-docx",
      "name": "generar-docx",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL || 'http://app-pwa:3000' }}/api/informe/{{ $('init').item.json.id }}/error",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"error\": ($json.error && ($json.error.message || $json.error.description)) || 'fallo en la orquestación' } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-marcar-error",
      "name": "marcar-error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "node-hook-r2",
      "name": "R2 upload (futuro)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        120
      ]
    },
    {
      "parameters": {},
      "id": "node-hook-wa",
      "name": "WhatsApp (futuro)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1600,
        120
      ]
    },
    {
      "parameters": {},
      "id": "node-hook-analisis",
      "name": "Análisis de patrones (futuro)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        60,
        560
      ]
    }
  ],
  "connections": {
    "webhook": {
      "main": [
        [
          {
            "node": "init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init": {
      "main": [
        [
          {
            "node": "whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "whisper": {
      "main": [
        [
          {
            "node": "preparar-prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "marcar-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preparar-prompt": {
      "main": [
        [
          {
            "node": "ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ollama": {
      "main": [
        [
          {
            "node": "parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "marcar-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse": {
      "main": [
        [
          {
            "node": "extraccion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "marcar-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraccion": {
      "main": [
        [
          {
            "node": "generar-docx",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "marcar-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generar-docx": {
      "main": [
        [],
        [
          {
            "node": "marcar-error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true
  },
  "tags": [],
  "id": "pequenospasosregistro"
}
